h1 {
	color: blue;
}
h4 {
	color: purple;
}
body {
	background-color: black; 
}

.card {
 color: green;
 border-color: green;
}
.avb {
	background-color: orange;
}
.mgm {
	background-color: red;
}